@import "./variables";

@keyframes shake {
    0% {transform: rotate(0)}
    25% {transform: rotate(8deg)}
    50% {transform: rotate(-8deg)}
    75% {transform: rotate(8deg)}
    100% {transform: rotate(0)}
}

.shake {
    animation-name: shake;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.slide-right {
    transform: translate(100%, -50%)!important;
    background-image: url(../img/icons/sun-icon.png)!important;
}

@keyframes openFromTop {
    0% {
        height: 0;
    }
    100% {
        height: auto
    }
}

@keyframes openListItem {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: 0;
    }
}

.dropList {
    animation: openFromTop 0.15s ease 0s 1 forwards;
    padding: 0.5rem;
    & > * {
        animation: openListItem 0.2s ease 0s 1 forwards;
        display: block !important; 
    }
}

// dark-theme === body
.dark-theme {
    background-color: $color-primary-dark;
    header {
        background-color: $color-secondary-dark;
        .logo__txt {
            color: $color-primary-light;
        }
    }
    .dice-section {
        background-color: $color-secondary-dark;
        .dices__container {
            background-color: $color-primary-dark;
        }
        #roll-btn {
            box-shadow: 2px 2px $color-secondary-light;
        }
    }
}
