@import "./variables";

@keyframes shake {
    0% {transform: rotate(0)}
    25% {transform: rotate(8deg)}
    50% {transform: rotate(-8deg)}
    75% {transform: rotate(8deg)}
    100% {transform: rotate(0)}
}

.shake {
    animation-name: shake;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

@keyframes slide {
    0% {transform: 0}
    100% {transform: translate(100%, -50%)}
}

.slide-left {
    animation: slide 0.3s ease-in-out 0s 1 forwards;
    animation-direction: reverse;
    background-image: url(../img/theme-icons/moon-icon.png)!important;
}

.slide-right {
    animation: slide 0.3s ease-in-out 0s 1 forwards;
    background-image: url(../img/theme-icons/sun-icon.png)!important;
}

// dark-theme === body
.dark-theme {
    background-color: $color-secondary-dark;
    header {
        background-color: $color-primary-dark;

        .logo__txt {
            color: $color-soft-white;
        }
    }
    
    .dice-section {
        background: $color-primary-dark;
    }
}
