// Light-Theme (default/unset)
$color-primary-light: #A5C9CA;
$color-secondary-light: #E7F6F2;
$moon-icon: url(../img/theme-icons/moon-icon.png);

// Dark-Theme
$color-primary-dark: #414141;
$color-secondary-dark: #525252;
$color-terciary-dark: #EEEEEE;
$sun-icon: url(../img/theme-icons/sun-icon.png);

$font-principal: 'Alexandria', sans-serif;