$color-soft-white: #EEEEEE;
$color-soft-black: rgb(23, 24, 24);

// Light-Theme (default/unset)
$color-primary-light: #A5C9CA;
$color-secondary-light: #E7F6F2;
$moon-icon: url(../img/theme-icons/moon-icon.png);

// Dark-Theme
$color-primary-dark: #414141;
$color-secondary-dark: #525252;
$sun-icon: url(../img/theme-icons/sun-icon.png);

$font-principal: 'Titillium Web', sans-serif;