$color-soft-black: #222831;

// Light-Theme (default/unset)
$color-primary-light: #EEEEEE;
$color-secondary-light: #b7b7b7;
$moon-icon: url(../img/theme-icons/moon-icon.png);

// Dark-Theme
$color-primary-dark:#525252;
$color-secondary-dark: #414141;
$sun-icon: url(../img/theme-icons/sun-icon.png);

$font-principal: 'Titillium Web', sans-serif;
