@import "../abstract/variables";

main {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    min-height: 90vh;
}

.dice-section {
    background-color: $color-primary-light;
    display: grid;
    flex-grow: 1;
    grid-template-rows: 0.5fr 1fr;
    min-height: 590px;
    max-width: 600px;
    padding: 0.25rem;

    .dices__container {
        align-items: center;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        height: 225px;
        justify-content: center;
        margin-bottom: 1rem;
        padding: 0.5rem;
        .dices {
            align-items: center;
            background: url(../img/dice-types/d20.png) no-repeat center / contain;
            display: flex;
            font-size: 2rem;
            font-weight: bold;
            height: 100px;
            justify-content: center;
            width: 100px
        }
    }
}

.options-form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;

    #roll-btn {
        cursor: pointer;
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
        letter-spacing: 1px;
        padding: 0.25rem;
    }

    .option-titles {
        font-size: 1.1rem;
        grid-row: 2/3;
        padding: 0.5rem 0;
        text-align: center;
    }

    .number-container {
        grid-row: 3/4;
        text-align: center;
    }
    &__number {
        height: 30px;
        margin: 0.5rem auto;
        text-align: center;
        width: 80%;
    }
    #error-box {
        align-items: center;
        color: $color-terciary-dark;
        background:rgb(23, 24, 24);
        border-radius: 5px;
        display: none;
        font-size: 0.9rem;
        height: 50px;
        margin: 1rem auto;
        padding: 0 10px;
        position: relative;
        transition: 1s;
        text-align: center;
        width: 80%;
        &::before {
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 20px solid rgb(23, 24, 24);
            content: "";
            left: 50%;
            position: absolute;
            top: -20px;
            transform: translateX(-50%)
        }
    }

    &__type-title {
        grid-column: 2/3;
    }
        
    .dice-type {
        background-color:rgb(23, 24, 24);
        grid-column: 2/3;
        grid-row: 3/4;

        &__list {
            display: grid;
            gap: 0.5rem;
            list-style: none;
            padding: 0.5rem;
        }
        &__btn {
            border: 1px solid black;
            cursor: pointer;
            height: 30px;
            letter-spacing: 1px;
            width: 100%;
        }
        &__btn:focus {
            border: 2px solid red;
        }
        &__img {
            display: inline;
            height: 35px;
            width: 35px
        }
    }
}
