@import "../abstract/variables";

main {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    min-height: 90vh;
}

.dice-section {
    background-color: $color-primary-light;
    display: grid;
    flex-grow: 1;
    grid-template-rows: 0.5fr 1fr;
    min-height: 600px;
    max-width: 600px;
    padding: 0.25rem;

    .dices__container {
        align-items: center;
        background-color: white;
        border-bottom: 1px solid $color-soft-black;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        height: 225px;
        justify-content: center;
        margin-bottom: 0.75rem;
        padding: 0.5rem;
        .dices {
            align-items: center;
            background: url(../img/dice-types/d20.png) no-repeat center / contain;
            display: flex;
            font-size: 2rem;
            font-weight: bold;
            height: 100px;
            justify-content: center;
            width: 100px
        }
    }
}
