@import "../abstract/variables";

header {
    align-items: center;
    background-color: $color-primary-light;
    display: flex;
    justify-content: space-between;
    opacity: 90%;
    padding: 0.5rem 1rem;
    .logo {
        position: relative;

        &__img {
            height: 70px;
            width: 70px;
        }

        &__txt {
            font-size: 1.05rem;
            position: absolute;
            right: -115px;
            top: 60%;
        }
    }

    .theme-swipper {
        background-color: $color-terciary-dark;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        position: relative;
        width: 50px;
        &__icon {
            background: url(../img/theme-icons/moon-icon.png) no-repeat center / cover;
            border-radius: 50%;
            height: 30px;
            left: -2px;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            width: 30px;
        }
    }
}