@import "../abstract/variables";

header {
    align-items: center;
    background-color: $color-secondary-light;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    .logo {
        position: relative;

        &__img {
            height: 70px;
            width: 70px;
        }
        &__txt {
            font-size: 1.1rem;
            position: absolute;
            right: -100px;
            top: 60%;
        }
    }

    .theme-swipper {
        background-color: $color-primary-light;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        height: 20px;
        position: relative;
        width: 50px;
        &__icon {
            background: url(../img/icons/moon-icon.png) no-repeat center / cover;
            border-radius: 50%;
            height: 30px;
            left: -2px;
            position: absolute;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
            top: 50%;
            width: 30px;
        }
    }
}